<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card p-4 bg-primary text-white">
        <h2 class="text-center mb-4">My Messages</h2>

        <div class="d-flex justify-content-end mb-3">
          <a [routerLink]="'/user/new-message'" type="button" class="btn btn-success">
            <em class="fas fa-plus"></em> New message
          </a>
        </div>

        <div class="message" *ngFor="let message of messages">
          <p><strong>From:</strong> {{ message.senderId }} - {{message.senderName}}</p>
          <p><strong>To:</strong> {{ message.receiverId }} - {{message.receiverName}}</p>
          <p><strong>Sent At:</strong> {{ message.sentAt | date: 'yyyy-MM-dd HH:mm:ss' }}</p>
          <p><strong>Content:</strong> {{ message.content }}</p>
          <a [routerLink]="'/user/new-message'" type="button" class="btn btn-success btn-sm mt-2">Reply</a>
        </div>

      </div>
    </div>
  </div>
</div>
