<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2 class="bg-primary text-white p-3">My Reservations</h2>
      <div>
        <table class="table table-bordered">
          <thead>
          <tr>
            <th scope="col">Reservation Date</th>
            <th scope="col">Post ID</th>
            <th scope="col">User ID</th>
            <th>Actions</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>2024-02-05</td>
            <td>123</td>
            <td>456</td>
            <td>
              <button class="btn btn-primary">Show Reserved Post</button>
            </td>
          </tr>
          <!-- Ajoutez ici d'autres lignes pour chaque réservation -->
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
