<div class="p-2">

  <h2> Activity Overview </h2>

  <div class="card me-5 ms-5">



<app-light-info *ngFor = "let info of accountInfoList"
                [infoInput]="info"

></app-light-info>

  </div>

  <div class="card m-3 p-3" >
    <div class="d-flex flex-row align-items-start mb-3">

      <div class="me-3">
        <label for="start-date" class="form-label">Start date</label>
        <input type="text" class="form-control" id="start-date" placeholder="--/--/----">
      </div>

      <div class="">
        <label for="end-date" class="form-label">End date</label>
        <input type="text" class="form-control" id="end-date" placeholder="--/--/----">
      </div>

  </div>

    <div>
      <div class="card p-3"></div>
    </div>


  </div>

</div>
