<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card p-4 bg-primary text-white">
        <h2 class="text-center mb-4">Create New Message</h2>
        <form>
          <!-- Champ caché pour l'ID de l'expéditeur -->
          <!--<input type="hidden" id="senderId" value="{{ senderId }}"> -->


          <div class="form-group">
            <label for="senderId">FROM : Sender ID:</label>
            <input type="text" class="form-control" id="senderId" placeholder="Enter sender's ID">
          </div>


          <div class="form-group">
            <label for="receiverId">TO : Receiver ID:</label>
            <input type="text" class="form-control" id="receiverId" placeholder="Enter receiver's ID">
          </div>

          <div class="form-group">
            <label for="content">Message Content:</label>
            <textarea class="form-control" id="content" rows="5" placeholder="Enter message content"></textarea>
          </div>

          <div class="form-group text-right">
            <button type="submit" class="btn btn-success btn-block mt-3">Send Message</button>
          </div>


        </form>
      </div>
    </div>
  </div>
</div>
