<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card p-4 bg-primary text-white">
        <h2 class="text-center mb-4">Create New Message</h2>
        <hr>


        <div class="form-group">
          <label for="senderName">From: </label>
          <input [(ngModel)]="message.senderName" name="senderName" type="text" class="form-control" id="senderName" placeholder="Enter receiver's ID">
        </div>

        <div class="form-group">
          <label for="receiverName">to: </label>
          <input [(ngModel)]="message.receiverName" name="receiverName" type="text" class="form-control" id="receiverName" placeholder="Enter receiver's Fullname mentioned on the post">
        </div>

        <div class="form-group">
          <label for="content">Message Content</label>
          <textarea [(ngModel)]="message.content" name="content" class="form-control" id="content" rows="5" placeholder="Enter message content"></textarea>
        </div>

        <div class="form-group text-right">
          <button (click)="save()" type="submit" class="btn btn-success btn-block mt-3">Send Message</button>
        </div>

        <div class="form-group text-right">
          <button (click)="cancel()" type="submit" class="btn btn-danger btn-block mt-3">Cancel</button>
        </div>
      </div>
    </div>
  </div>
</div>
